* {
    font-family: 'Lato'
}
 section header h3 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 3rem;
    line-height: 1;
    font-weight: 900;
    letter-spacing: 0.05em
}
 #directors > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem
}
 #directors .card-custom .graphics {
    position: relative;
    height: 312px;
    width: 312px
}
 #directors .card-custom .graphics:hover::after {
    opacity: 1
}
 #directors .card-custom .graphics::after {
    position: absolute;
    top: 75%;
    height: 25%;
    width: 100%;
    background-image: linear-gradient(to top, var(--tw-gradient-stops));
    --tw-gradient-from: #000000cc;
    --tw-gradient-to: rgb(0 0 0 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    --tw-content: '';
    content: var(--tw-content)
}
 #directors .card-custom .graphics img {
    height: 312px;
    width: auto;
    border-radius: 0.375rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(212 212 212 / var(--tw-border-opacity));
    -o-object-fit: cover;
       object-fit: cover
}
 #directors .card-custom .graphics .offset {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    padding: 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem
}
 #directors .card-custom .links {
    display: flex;
    gap: 0.5rem
}
 #directors .card-custom a {
    display: flex;
    align-items: center;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 100ms
}
 #directors .card-custom a:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity))
}
 #directors .card-custom .link-item:nth-of-type(1) a:hover {
    --tw-text-opacity: 1;
    color: rgb(66 103 178 / var(--tw-text-opacity))
}
 #directors .card-custom .link-item:nth-of-type(2) a:hover {
    --tw-text-opacity: 1;
    color: rgb(0 172 238 / var(--tw-text-opacity))
}
 #directors .card-custom .link-item:nth-of-type(3) a:hover {
    --tw-text-opacity: 1;
    color: hsl(135 100% 27% / var(--tw-text-opacity))
}
 #directors .card-custom .graphics:hover a {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: 1.125rem;
    line-height: 1.75rem
}
 #directors .card-custom .info {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center
}
 #directors .card-custom .info h4 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600
}
 #directors .card-custom .info p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 300;
    --tw-text-opacity: 1;
    color: rgb(163 163 163 / var(--tw-text-opacity))
}
