.filter-list-custom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: bold;
}

.filter-list-custom li:hover {
    color: #018427;
    transition: all 0.3s ease;
    transform: scale(1.2);
}

.filter-list-custom li:active {
    transition: all 0.3s ease;
    transform: scale(1);
}

.card-flex-custom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-custom {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    margin: 20px;
    width: 25%;
    border-radius: 25px;
}

.card-custom:hover {
    transform: scale(1.1);
}

.card-custom-img {
    width: 100%;
    height: auto;
    border-radius: 25px 25px 0 0;
}

.card-custom-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 0 0 25px 25px;
    padding: 10px;
}

.btn-custom {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    background-color: #fecaca;
}

.btn-custom:hover {
    transition: 0.3s;
    background-color: #ef4444;

}

.btn-custom:active {
    transform: scale(0.8);
}

/* @media screen and (min-width: 1024px) {
    
    .filter-list-custom {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 20px;
        font-weight: bold;
    }
    
    .filter-list-custom li:hover {
        color: #018427;
        transition: all 0.3s ease;
        transform: scale(1.2);
    }
    
    .filter-list-custom li:active {
        transition: all 0.3s ease;
        transform: scale(1);
    }
    
    .card-flex{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .card-custom {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.5s;
        margin: 20px;
        width: 25%;
        border-radius: 25px;
    }
    
    .card-custom:hover {
        transform: scale(1.1);
    }
    
    .card-custom-img {
        width: 100%;
        height: auto;
        border-radius: 25px 25px 0 0;
    }
    
    .card-custom-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
        border-radius: 0 0 25px 25px;
        padding: 10px;
    }
    
    .btn-custom {
        padding: 10px 20px;
        margin: 10px;
        border-radius: 15px;
        font-size: 15px;
        color: white;
        background-color: #fecaca;
    }
    
    .btn-custom:hover {
        transition: 0.3s;
        background-color: #ef4444;
        transform: scale(1.1);
    }
    
    .btn-custom:active {
        transform: scale(1);
    }

} */